body{
    margin: 0;
    padding: 0;
}


.profile_info{
    display:grid;
    grid-template-columns: 17.5vw auto auto auto;
    grid-template-rows: 7.5vh 10vh 3.5vh 59vh;
}

.profile_container{
    height: 100vh;
    width: 100vw;
}

.display_container{
    grid-area: 4/2/span 1/span 3;
}
.profile_buttons{
    grid-area: 3/2/span 1/span 3;

}
.tabBtn{
    display: inline-block;
    width:33%
}

.profileActivityDisplay{
    display:table;
    width:100%;
    border: 1px solid lightgray;
    border-collapse: collapse;
    grid-template-columns: 15% 50% 35%;
}

.profileActivityID{
    display:table-cell;
}

.profileActivityTitle{
    display:table-cell;

}

.profileActivityStartTime{
    display:table-cell;
}
.vuecal__event.normal-event{
    background-color: greenyellow;
    border:1px solid green;
}
.edit-name{
    margin:0 30%;
}
.edit-form{
    height: 100%;
    width:100%;
}
.edit{
    display: flex;
    flex-direction: column;
}
.edit-general{
    width:100%;
    height:100%;
}
.edit-description{
    margin:2.5% 20%;
}
.edit-image{
    margin:0 35%;
}
#change-password{
    width: auto;
    margin-right:20%;
}

#old-password-form{
    width:auto;
    margin-right:25%
}
#edit-submit{
    width:auto;
}
#name{
    grid-area: 1/2/span 1/span 2;
}
#description{
    grid-area: 2/2/span 2/span 2;
}

#info_list{
    grid-area: 4/1/span 1/span 1;
}
#cover_photo{
    width:100vw;
    height:180px;
}

#profile_photo{
    position:absolute;
    top:90px;
    left:24px;
    border-radius:45%;
}
#calendar{
    display: block;
    height:240px;
}
