body{
    margin: 0;
    padding: 0;
}


.profile_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.tabBtn{
    display: inline-block;
    width:30%

}


.vuecal__event.normal-event{
    background-color: greenyellow;
    border:1px solid green;
}

.edit-form{
    height: 100%;
    width:100%;
}
.edit{
    display: flex;
    flex-direction: column;
}
.edit-general{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.edit-description{
    margin:2.5% 20%;
}
.edit-image{
    margin:0 35%;
}


#name{
    grid-area: 1/2/span 1/span 2;
}


#cover_photo{
    width:100vw;
    height:180px;
}

#profile_photo{
    border-radius:45%;
}
#calendar{
    display: block;
    height:240px;
}
